.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fila_article {
  margin: 0 1%;
}

.link-card {
  text-decoration: none;
  color: #000;
}

.container-product {
  max-width: 95%;
}

.imgCard {
  width: 360px;
  height: 150px;
  margin: auto;
}
.parrafo_initial {
  margin-top: 1%;
  color: #6e6e6e;
  line-height: 1.6em;
}
.container-price {
  background-color: #174a6d;
  padding: 2% 0;
  color: #fff;
  font-weight: bold;
}

.body-article {
  display: flex;
  justify-content: space-between;
}
.nombre {
  font-size: 20px;
  font-weight: 400;
}

.preciotext {
  font-size: 20px;
  font-weight: 400;
}

.container-price {
  display: flex;
  justify-content: space-between;
}
